
@media(max-width: 768px){

    /* BOOTSTRAP SM WIDTH */
    .w95{
      width: 95% !important;
    }


    .switch-appMenu{
      display: block;
    }
    .switch-icon{
        display: none !important;
    }
    .mobile-tools{
        display: block;
    }
    .mobile-dropdown{
      display: block;
      cursor: pointer;
    }
    .ehut-navigation-menu-search {
        height: 44px;
    }
    .ehut-navigation-menu-search button {
      width: 70px;
      height: 80%;
      font-size: 15px;
      position: absolute;
      top: 48%;
      left: 3px;
      transform: translateY(-53%);
    }
    .ehut-navigation-menu-search button svg {
      left: 1px !important;
      top: -1px;
    }
      .ehut-tools div {

        background: #FFFFFF;
        width: 35px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
      }
      .ehut-tools div .svg{
        color: #24050d;
        font-size: 20px !important;
      }

      /* NAVIGATION SEARCH PART */
      .ehut-navigation-menu-search input {
        height: 95%;
      }
      .icon-bg svg{
        font-size: 20px !important;
      }

      /* LOADER ANIMATION  */
      .bag {
        width: 80px;
        height: 100px;
        &::before{
          width: 42px;
          height: 38px;
          top: -20px;
          left: 20px;
        }
      }
      .letter {
        font-size: 20px;
      }

      /* FOOTER  */
      .ehut-footer-bottom {
        padding-bottom: 70px !important;
      }
      .footer-svg-title span{
        display: none;
      }
      .footer-title {
        margin: 16px 0px;
      }
      .ehut-footer-bottom-icons {
        justify-content: center;
        margin-bottom: 5px;
      }
      .powaredBy {
        font-size: 12px;
        text-align: center;
        width: 100%;
        text-decoration: underline;
      }
      .text-box {
        align-items: center;
      }
      .text-box p {
        text-align: center !important;
      }
      .ehut-banner-ads {
        margin-top: 15px;
      }
      .ehut-product-grid img {
        height: 200px !important;
      }
      .ehut-product-grid .icons {
        width: 60%;
        top: 0px;
      }
      .ehut-product-grid P {
        position: relative;
        top: 8px;
      }
      .review-product-img img {
        height: 150px;
      }

}

@media (min-width: 576px) {
  /* BOOTSTRAP SM WIDTH */
  .w95{
    width: 95% !important;
  }

}